{% extends 'base.html.twig' %}

{% block title %}Hello Ingredient Controller!{% endblock %}

{% block body %}
    <div class="form-ingredient">
        {{ form_start(form) }}
        <div class="form-floating">
            {{ form_widget(form.name,{'attr' : {'id' : 'floatingInput', 'class' : 'form-control'  }}) }}
            <label for="floatingInput" style="margin-left: 40px">Ingridient name</label>
        </div>
        <div class="ingredient-available-units">
            {{ form_label(form.availableUnits) }}
        </div>
        <div class="box-ingredient">
            {% for  unit in form.availableUnits %}
                <div class="text-center unit-row">
                    <div class="unit-label"> {{ form_label(unit) }}</div>
                    <div class="unit-input"> {{ form_widget(unit) }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            {{ form_widget(form.save , {'attr' : {'class': ' btn btn-success'}}) }}
            <a href="{{ path('ingredient_list') }}" type="submit" class="btn btn-primary " >Back</a>

        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
